{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Forum Threads</div>
                <div class="panel-body">
                    {% for thread in threads %}
                        <article>
                            <h4>
                                <a href="{{ path('threads_show', { id : thread.id }) }}">{{ thread.title }}</a>
                            </h4>
                            <div class="body">
                                {{ thread.body }}
                            </div>
                        </article>
                        {% if not loop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% if app.user %}
        <div class="row">
            <div class="col-sm-8 col-md-offset-2">
                <form action="" method="POST">
                    {{ form_row(form.title) }}
                    {{ form_row(form.body) }}

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create Thread</button>
                    </div>

                    {{ form_widget(form._token) }}
                </form>
            </div>
        </div>
    {% else %}
        <p class="text-center">Please <a href="{{ path('app_login') }}">sign in</a> to participate in this forum.</p>
    {% endif %}
{% endblock %}
